.main-cont{
    width: 600px;
    height: auto;
    padding:30px;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(162, 56, 56, 0.3);
    margin-top: 5px;
    background-color: pink;
    
}


.content {
    padding: 20px;
    width: 100%;
    height: fit-content;
    margin-top: 60px;
   
  }

  Row{
    margin-bottom: 5px;
  }
  

  .remove-image-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(255, 255, 255, 0.6); 
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    cursor: pointer;
    color: red;
    padding: 0;
  }
  